.navbar{
    background-color:#263238;
}

#profilephoto{
    /* height: 600px;
    margin: 30px; */
    width: 100%;

    
}

body{
    /* background-color:#000000 ; */
    /* background-image: url(https://images.unsplash.com/photo-1541450711770-551bbd9ab9d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); */
}

.page-footer{
    background-color:#263238;
}

.logo{
    height: 60px;
    width: 60px;
}


.footertext{
    margin-left: 20px;
}

.brand-logo{
    position: absolute;
    font-size: 1.5rem;

}


